---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import ExternalScripts from '@/components/ExternalScripts.astro'

let title = 'Arcive AP24'
let description =
  ' a specialist class in office get a gallery archive, hand made with AP-Tech.'
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'Ir'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    <Header title={title} />
    <Footer title={title} description={description} />
    <ExternalScripts />
  </body>
</html>

