---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Gallery from '@/components/Gallery.astro'
import ExternalScripts from '@/components/ExternalScripts.astro'

let title = 'ꪖ᥅ᥴꫝ꠸ꪜꫀ ꪖρᒿᔰ'
let description =
  ' a specialist class in office get a gallery archive.'
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'Ir'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    <Header title={title} />
    <Footer title={title} description={description} />
    <Gallery title={'In Archive'} description={'©Ap24: archiveofap24.vercel.app'} />
    <ExternalScripts />
  </body>
</html>
